<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Web Crawler</title>
  {% load static %}
</head>

<body>
  <div id="app">
    <template>
      <v-app>
        <v-toolbar app>
          <v-toolbar-title class="headline text-uppercase">
            <span>Web Crawler</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn flat href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank">
            <span class="mr-2">Sign out</span>
          </v-btn>
        </v-toolbar>

        <v-content>
          {% include 'data/domainTable.html' %}
          {% include 'data/urlTable.html' %}
        </v-content>
      </v-app>
    </template>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="{% static 'data/js/axios.min.js' %}"></script>
  <script src="{% static 'data/js/app.js' %}"></script>



</body>

</html>