{% verbatim %}
<template>
    <v-container xs10 offset-xs1 v-if="selectedDomain!=''">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>URLS</v-toolbar-title>
                <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                  <v-btn flat>
                      <v-icon>refresh</v-icon>
                  </v-btn>
                  <v-btn flat @click="selectedDomain=''">
                        <v-icon>arrow_back_io</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-data-table :headers="headers" :items="components" class="elevation-1">
                <template v-slot:items="props">
                    <td><a :href="'/domain/' + props.item.id">{{ props.item.title }}</a></td>
                    <td class="text-xs-left">{{ props.item.url }}</td>
                    <td class="text-xs-left">{{ props.item.depth }}</td>
                    <td class="text-xs-left">{{ props.item.status }}</td>
                </template>
            </v-data-table>
        </div>
    </v-container>
</template>
{% endverbatim %}